<div id="main">
  <!--App Output -->
</div>

<!-- Import scripts -->
<script src="js/app.js"></script>
<script src="js/keycloak.js"></script>
<script>
    // Append keycloak to window object
    var keycloak = Keycloak({
      url: 'https://auth.healthforge.io/auth',
      realm: 'interview',
      clientId: 'interview'
    });
    // Initialise with login redirect
    keycloak.init({ onLoad: 'login-required' }).success(function(authenticated) {
        return authenticated ? app.init() : alert('not authenticated');
    }).error(function() {
        alert('failed to initialize');
    });
</script>
